:root{
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(https://w.forfun.com/fetch/7a/7a9b32f725b114a86ba5b6581942fbfb.jpeg);
    background-size: cover;
    background-attachment: scroll;
}

#Mainheader, #Mainfooter{
    background-color: rgba(43, 43, 43, 0.9);
    height: 50px;
    text-align: center;
}

#img1 {
    position: relative;
    left: 42%;
    top: 30px;
}

#text {
    color: brown;
    position: relative;
    top: 40px;
    text-align: center;
}


