body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #191919;
    color: white;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
    position: relative;
  }
  
  a {
    text-decoration: none;
    color: rgb(167, 19, 19);
    padding: 10px;
    display: block;
  }
  
  ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    background-color: #121212;
    z-index: 1;
  }
  
  li:hover > ul {
    display: inherit;
  }